*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans'; 
}

.contenedor{
	/*espacio entre secciones*/
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}


.titulo{
	color: #113BED
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}